<nav>
	<ul>
		<li><a href="/home"><img src="/images/icon_home.png" alt="" id="homepage"></a></li>
		<li><a href="/discover"><img src="/images/icon_discover.png" alt="" id="discoverpage"></a></li>
		<li><a href="/likes"><img src="/images/icon_likes.png" alt="" id="likespage"></a></li>
		<li><a href="/profile"><img src="/images/icon_profile.png" alt="" id="profilepage"></a></li>
	</ul>
</nav>