<nav>
	<ul>
		<li><a href="/home"><img src="images/icon_home.png" alt=""></a></li>
		<li><a href="/discover"><img src="images/icon_discover.png" alt=""></a></li>
		<li><a href="/likes"><img src="images/icon_likes.png" alt=""></a></li>
		<li><a href="/profile"><img src="images/icon_profile.png" alt=""></a></li>
	</ul>
</nav>