<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); -%>
</head>

<body>
    <%- include('includes/header'); -%>

    <%- include('includes/nav'); -%>

    <main>
        <h1>Welcome to Match-A-Pet</h1>
        <p id="homep">In Match-A-Pet you will be looking a perfect match! You may be thinking; so many other apps make that possible, but on here it will be a bit different. 
            You'll have your beloved pet by your side when swiping through the combined pet-human profiles!</p>
        
        <img id="homepic" src="images/homepic.png" alt="">

        <button id="homemessage">Check your profile!</button>
    </main>

    <script src="js/homescript.js"></script>
</body>

</html>