<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); -%>
</head>

<body id="index">
    <main>
        <img src="images/indexgraphic.png" alt="">

        <button type="button" onclick="location.href='/makeprofile'">Create Profile</button>
    </main>
</body>

</html>