<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login and registration </title>
    <link rel="stylesheet" href="/css/inlog.css">
</head>
<body>
    <header>
    <h1>Log in </h1>
    <img src="images/logowhite.png" alt="">
    </header>
    
    <% if (messages) {%>
    <p><%= messages.error %></p>
    <% } %>

    <main>
    <form action="">
      
        <label for="">Email/Username </label>
        <input type="text" placeholder="whitney.abrah@gmail.com">

        <label for="">Password </label>
        <input type="text">

       <button>Log in </button>

    </form>
      <h2>No account?</h2>
       <a href="#">Sign up </a>
    </main>


 
</body>
</html>