<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/likes.css">
</head>

<body>

    <%- include('includes/header'); -%>

    <%- include('includes/nav'); -%>

    <main>
        <h1>Favorites </h1>

        <% likes.forEach(function(likes){ %>
        <section>
            <article>
            <h2><%= likes.name %> & <%= likes.name_a %></h2>
            <p>Hi my name is whitney Abrah</p>
            <button>Liked</button>
            </article>

            </article>
            <img src="images/match1.jpg" alt="">
            <img src="images/icon_arrowright.png" alt="">
            <article>
        </section>
        <% }) %>

    </main>
</body>

</html>